.About_Me_container{
	min-height:800px;
	max-width:100%;
	background-color:var(--Light);
	display: flex;
	flex-direction: row;	
	gap: 20px;
	flex-wrap: wrap;
	align-items: left;
	justify-content: left;
	flex-wrap: wrap;
	
}
.About_Me_container_img_box{
	flex: 1;
	height:800px;
	min-width:250px;
	background-color: var(--white_color);
	
}
.About_Me_container_info_box{
	display: flex;
	flex: 1;
	height:800px;
	min-width:250px;
	background-color: var(--white_color);
	align-items:center;
	flex-direction: column;
}
.About_Me_container_info_box_header_holder{
	
}
.About_Me_container_info_box_holder{
	flex: 1;
	min-height:300px;
	min-width:250px;
	background-color:var(--white_color);
	text-align:center;
	justify-content: center;
	border-radius:50px;
	padding: 20px;
	
}
.About_Me_container .About_Me_container_info_box .About_Me_container_info_box_header_holder h1{
	font-size: 100px;
	
}
.About_Me_container .About_Me_container_info_box p{
	color: var(--black_color);
	font-size: 24px;
	justify-content: space-around;
}
